@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic");
/* line 2, /Applications/MAMP/htdocs/pontofon/css/style.sass */
*, html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-content-zooming: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF UI Text', 'San Francisco Display Medium';
  outline: none; }

/* line 14, /Applications/MAMP/htdocs/pontofon/css/style.sass */
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }

/* line 19, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.wr {
  width: 1200px;
  margin-right: auto;
  margin-left: auto; }

/* line 24, /Applications/MAMP/htdocs/pontofon/css/style.sass */
ul {
  list-style: none; }

/* line 27, /Applications/MAMP/htdocs/pontofon/css/style.sass */
a {
  color: inherit;
  text-decoration: none; }

/* line 31, /Applications/MAMP/htdocs/pontofon/css/style.sass */
img {
  max-width: 100%;
  height: auto; }

/* line 35, /Applications/MAMP/htdocs/pontofon/css/style.sass */
section {
  padding: 60px 0 80px; }

/* line 38, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.btn {
  width: 160px;
  height: 39px;
  border-radius: 6px;
  border: solid 2px #0096ff;
  font-size: 11px;
  font-weight: bold;
  padding: 12px 11px;
  color: #0096ff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all .2s linear; }
  /* line 57, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .btn:hover {
    box-shadow: 0 0 10px 0 rgba(0, 126, 217, 0.5);
    background-color: #0096ff;
    color: #fff;
    transition: all .2s linear; }

/* line 63, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  /* line 70, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .header-top {
    height: 93px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
    padding-top: 23px; }
  /* line 82, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .header .header_logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
    /* line 89, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header .header_logo a {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      position: relative;
      top: -9px; }
    /* line 97, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header .header_logo img {
      height: 59px; }
    /* line 99, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header .header_logo p {
      font-size: 12px;
      color: #282d3a; }
  /* line 103, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .header .header_info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    height: 100%; }
    /* line 112, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header .header_info .btn {
      margin-left: 25px;
      position: relative;
      top: -1px; }
    /* line 124, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header .header_info ul li {
      margin-left: 47px; }
      /* line 126, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .header .header_info ul li:first-child {
        margin-left: 0; }
  /* line 129, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .header ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
    align-items: flex-start; }
    /* line 137, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header ul li {
      width: 150px; }
      /* line 140, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .header ul li h3 {
        font-size: 12px;
        color: #85898c;
        margin-bottom: 0px;
        font-weight: normal; }
      /* line 145, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .header ul li a {
        font-size: 12px;
        color: #0096ff; }
      /* line 148, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .header ul li .tel {
        font-size: 15px;
        letter-spacing: .3px;
        color: #282d3a;
        font-weight: bold; }

/* line 156, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.header-phone {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 11px;
  padding-bottom: 11px;
  border-top: 1px solid #edeef0; }
  /* line 165, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .header-phone ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; }
    /* line 176, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header-phone ul li {
      width: 123px; }
    /* line 178, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header-phone ul .phone {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center; }
      /* line 187, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .header-phone ul .phone img {
        margin-bottom: 6px;
        height: 28px; }
      /* line 192, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .header-phone ul .phone p {
        font-size: 12px;
        text-align: center;
        color: #0096ff;
        height: calc(100% - 28px);
        font-weight: normal; }
    /* line 199, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header-phone ul .plus img {
      height: 33px; }
    /* line 201, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .header-phone ul .plus p {
      height: calc(100% - 33px); }

/* line 205, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.banner {
  background-color: #fafcff;
  padding-bottom: 33px;
  background: url(../img/1280_banner_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  background-position: 5% 70%; }
  /* line 213, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .banner .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    height: 100%; }
    /* line 221, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .banner .wr h1 {
      color: #282d3a;
      letter-spacing: -1.1px;
      font-size: 44px;
      line-height: 1.14;
      margin-bottom: 14px;
      text-transform: uppercase; }
    /* line 228, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .banner .wr p {
      font-size: 14px;
      max-width: 100%;
      color: #85898c;
      line-height: 1.5;
      margin-bottom: 45px; }
    /* line 235, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .banner .wr .btn {
      font-size: 11.5px;
      text-align: center; }
  /* line 240, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .banner-info {
    width: 460px;
    max-width: 100%; }

/* line 243, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.about {
  padding-top: 20px;
  padding-bottom: 35px;
  box-shadow: 7.1px 7.1px 10px 0 rgba(40, 45, 58, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  width: 1248px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -20px; }
  /* line 255, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .about .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
  /* line 262, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .about_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 282px; }
    /* line 271, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .about_block img {
      height: 60px;
      margin-bottom: 17px; }
    /* line 274, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .about_block h3 {
      letter-spacing: 0.3px;
      text-align: left;
      color: #282d3a;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-size: 12px; }
    /* line 281, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .about_block p {
      line-height: 1.5;
      color: #85898c;
      font-size: 12px; }

/* line 285, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.products {
  padding-bottom: 55px; }
  /* line 287, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .products .col {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;
    height: 280px; }
    /* line 297, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .products .col .product {
      height: 100%;
      border-radius: 10px;
      background-color: #12141a;
      padding-left: 34px;
      padding-right: 34px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-size: cover;
      background-position: center; }
      /* line 313, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .products .col .product h3 {
        margin-bottom: 5px;
        letter-spacing: 0.3px;
        color: #282d3a;
        font-size: 12px;
        text-transform: uppercase; }
      /* line 319, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .products .col .product h2 {
        margin-bottom: 30px;
        color: #282d3a;
        font-size: 34.5px;
        letter-spacing: -.4px;
        font-weight: 400; }
      /* line 326, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .products .col .product .btn {
        font-size: 11.5px; }
  /* line 329, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .products .col100 {
    height: 340px; }
    /* line 331, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .products .col100 .product {
      width: 100%;
      align-items: center; }
      /* line 334, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .products .col100 .product h2, .products .col100 .product h3 {
        color: #fff; }
  /* line 337, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .products .col50 .product {
    width: 588px;
    max-width: 100%; }
    /* line 341, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .products .col50 .product:nth-child(1) h2, .products .col50 .product:nth-child(1) h3 {
      color: #df9d7a; }
  /* line 344, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .products .col33 .product {
    width: 384px;
    max-width: 100%; }
    /* line 347, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .products .col33 .product:last-child {
      padding-top: 20px; }
      /* line 349, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .products .col33 .product:last-child h2 {
        color: #fff;
        font-size: 32.7px; }

/* line 352, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.product-soon {
  position: relative; }
  /* line 354, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .product-soon .soon {
    position: absolute;
    right: -4%;
    top: -13%;
    border-radius: 50%;
    width: 100px;
    height: 100px; }

/* line 362, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.section_head {
  margin-bottom: 34px; }
  /* line 364, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .section_head h2 {
    font-size: 32px;
    color: #282d3a;
    text-transform: uppercase; }

/* line 369, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.feedback {
  padding-top: 68px;
  background-color: #f0f1f5;
  padding-bottom: 86px; }
  /* line 373, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .feedback .feedback_slider {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    /* line 379, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .feedback .feedback_slider .feed {
      margin-right: 24px; }
      /* line 381, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .feedback .feedback_slider .feed_text {
        width: 537px;
        height: 226px;
        border-radius: 10px;
        box-shadow: 7.1px 7.1px 10px 0 rgba(40, 45, 58, 0.05);
        background-color: #ffffff;
        padding: 13px 26px;
        padding-right: 0;
        margin-bottom: 12px; }
        /* line 390, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .feedback .feedback_slider .feed_text p {
          color: #282d3a;
          font-size: 14px;
          line-height: 1.5;
          padding-right: 81px;
          height: 193px;
          overflow: scroll; }
      /* line 397, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .feedback .feedback_slider .feed_author {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
        /* line 405, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .feedback .feedback_slider .feed_author .img_persone {
          width: 50px;
          height: 50px;
          margin-right: 14px;
          border-radius: 50%;
          background: #ccc; }
        /* line 411, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .feedback .feedback_slider .feed_author h3 {
          font-size: 12px;
          letter-spacing: 0.3px;
          text-transform: uppercase;
          color: #282d3a;
          margin-bottom: 0px; }
        /* line 417, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .feedback .feedback_slider .feed_author span {
          color: #85898c;
          font-size: 12px;
          width: 100%; }
          /* line 421, /Applications/MAMP/htdocs/pontofon/css/style.sass */
          .feedback .feedback_slider .feed_author span .nik {
            color: #0096ff; }

/* line 424, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.question {
  padding-top: 70px;
  background-color: #282d3a;
  padding-bottom: 81px;
  overflow: hidden;
  position: relative; }
  /* line 430, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .question:after {
    content: '?';
    position: absolute;
    left: 59%;
    top: -12%;
    font-size: 289.5px;
    font-weight: bold;
    color: #3b455a;
    opacity: .8;
    z-index: 4; }
  /* line 440, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .question:before {
    content: '?';
    position: absolute;
    left: 88%;
    top: 55%;
    width: 136px;
    height: 211px;
    font-size: 180px;
    font-weight: bold;
    color: #3b455a;
    opacity: .8;
    z-index: 1; }
  /* line 452, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .question .section_head {
    z-index: 1; }
    /* line 454, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .question .section_head h2 {
      color: #fff;
      padding-bottom: 15px; }
    /* line 457, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .question .section_head p {
      font-size: 14px;
      line-height: 1.5;
      color: #ced4d9;
      width: 33%; }
  /* line 462, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .question_body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 7px;
    position: relative; }
    /* line 471, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .question_body .col1 {
      width: 792px;
      max-width: 100%;
      z-index: 5; }
      /* line 475, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .question_body .col1 form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        /* line 483, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .question_body .col1 form p {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%; }
        /* line 492, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .question_body .col1 form label {
          width: 49.3%;
          height: 39px;
          border-radius: 2px;
          background-color: #ffffff;
          margin-bottom: 12px;
          padding-left: 14px;
          padding-right: 14px; }
          /* line 500, /Applications/MAMP/htdocs/pontofon/css/style.sass */
          .question_body .col1 form label input, .question_body .col1 form label textarea {
            width: 100%;
            border-radius: 2px;
            height: 100%;
            border: none;
            font-size: 14px;
            color: #282d3a; }
        /* line 508, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .question_body .col1 form .input-text {
          width: 100%;
          height: 110px;
          border-radius: 2px;
          background-color: #ffffff;
          padding-top: 14px;
          margin-bottom: 22px; }
          /* line 515, /Applications/MAMP/htdocs/pontofon/css/style.sass */
          .question_body .col1 form .input-text textarea {
            color: #888a8c; }
        /* line 518, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .question_body .col1 form .input-tel input {
          color: #888a8c; }
        /* line 520, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .question_body .col1 form input[type="submit"] {
          margin-left: auto;
          background-color: #282d3a;
          cursor: pointer; }
        /* line 524, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .question_body .col1 form .text {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: space-between; }
          /* line 531, /Applications/MAMP/htdocs/pontofon/css/style.sass */
          .question_body .col1 form .text p {
            font-size: 12px;
            color: #85898c;
            line-height: 1.5;
            width: 69%; }
    /* line 536, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .question_body .col2 {
      width: calc(100% - 792px);
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      /* line 546, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .question_body .col2 img {
        position: relative;
        top: -70px;
        left: 30px;
        z-index: 1; }
      /* line 551, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .question_body .col2:after {
        position: absolute;
        top: -90%;
        left: 0;
        z-index: 0;
        content: '';
        width: 130%;
        height: 500px;
        background: radial-gradient(#374055 10%, #282d3a 70%); }

/* line 560, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.contacts {
  padding-top: 85px;
  padding-bottom: 120px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  position: relative; }
  /* line 570, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .contacts_map {
    width: 1180px;
    width: 55.5%;
    position: absolute;
    top: 50.5%;
    left: 0;
    transform: translateY(-50%);
    height: 420px;
    border-radius: 10px;
    box-shadow: 7.1px 7.1px 20px 0 rgba(40, 45, 58, 0.15);
    background-color: #e1e2e6; }
    /* line 581, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .contacts_map iframe {
      width: 100%;
      height: 100%; }
  /* line 584, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .contacts_info {
    width: 500px;
    position: relative;
    margin-left: 60%;
    padding-top: 33px; }
    /* line 589, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .contacts_info h2 {
      font-size: 32px;
      color: #282d3a;
      margin-bottom: 39px;
      text-transform: uppercase; }
  /* line 595, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .contacts .btn-recall {
    margin-left: 25px; }

/* line 598, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.cont_more {
  padding-left: 2px;
  width: 65.5%;
  margin-bottom: 18px; }
  /* line 602, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .cont_more h3 {
    font-size: 12px;
    font-weight: normal;
    color: #85898c;
    margin-bottom: 3px;
    width: 100%; }
  /* line 608, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .cont_more a {
    font-size: 12px;
    color: #0096ff;
    line-height: 1em; }
  /* line 612, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .cont_more .time {
    font-weight: bold;
    color: #282d3a;
    font-size: 12px;
    margin-top: 5px;
    letter-spacing: .35px; }

/* line 620, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.cont_tel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }
  /* line 628, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .cont_tel .call {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
  /* line 635, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .cont_tel a.tel {
    color: #282d3a;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: bold; }

/* line 640, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.footer {
  padding-top: 44px;
  background-color: #282d3a; }
  /* line 643, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .footer .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    /* line 651, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .footer .wr .col {
      width: 24%;
      padding-bottom: 26px; }
      /* line 654, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .footer .wr .col:nth-child(2) {
        width: 23%; }
      /* line 656, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .footer .wr .col:nth-child(3) {
        width: 25%; }
      /* line 658, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .footer .wr .col:nth-child(4) {
        width: 24%; }
      /* line 660, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .footer .wr .col .logo {
        margin-bottom: 4px;
        width: 139px;
        height: 40px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        position: relative;
        top: -10px;
        left: 3px; }
        /* line 672, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col .logo img {
          width: 100%;
          height: 100%; }
      /* line 675, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .footer .wr .col p {
        font-size: 12px;
        color: #ffffff; }
      /* line 678, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .footer .wr .col .cont_more {
        margin-bottom: 36px;
        height: 70px; }
        /* line 682, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col .cont_more:nth-child(1) h3 {
          margin-bottom: 11px; }
        /* line 684, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col .cont_more h3 {
          color: #acb2bf;
          margin-bottom: 5px; }
        /* line 687, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col .cont_more .cont_tel {
          margin-top: -5px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-direction: column;
          align-items: flex-start; }
        /* line 696, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col .cont_more .tel {
          color: #ffffff; }
        /* line 698, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col .cont_more .time {
          color: #acb2bf; }
        /* line 700, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col .cont_more .soc {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex; }
          /* line 706, /Applications/MAMP/htdocs/pontofon/css/style.sass */
          .footer .wr .col .cont_more .soc a {
            width: 30px;
            margin-right: 6px;
            height: 30px;
            opacity: 0.3;
            border-radius: 4px;
            border: solid 1px #367ec2;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s all ease; }
            /* line 721, /Applications/MAMP/htdocs/pontofon/css/style.sass */
            .footer .wr .col .cont_more .soc a:hover {
              transition: .2s all ease;
              opacity: 1; }
            /* line 724, /Applications/MAMP/htdocs/pontofon/css/style.sass */
            .footer .wr .col .cont_more .soc a img {
              height: 14px;
              width: 15px; }
    /* line 728, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .footer .wr .col100 {
      width: 100%;
      border-top: 1px solid #353c4d;
      padding-top: 20px;
      padding-bottom: 20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      /* line 740, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .footer .wr .col100 p {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center; }
        /* line 747, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col100 p a {
          color: #0096ff;
          padding-left: 3px;
          padding-right: 5px;
          position: relative; }
        /* line 752, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .footer .wr .col100 p img {
          width: 14px;
          height: 14px; }

/* line 756, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.disable {
  position: relative; }
  /* line 759, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .disable p {
    color: #9a9a9a !important; }
  /* line 762, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .disable:after {
    position: absolute;
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
    content: 'Скоро';
    font-size: 10px;
    width: 47px;
    height: 16px;
    border-radius: 4px;
    background-color: #282d3a;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold; }

/* line 783, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.section {
  background: #f0f2f5;
  padding-top: 5px;
  padding-bottom: 140px; }
  /* line 787, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .section .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

/* line 795, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.breadcrumbs {
  padding-top: 26px;
  padding-bottom: 17px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%; }
  /* line 804, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .breadcrumbs li {
    padding-right: 14px;
    margin-right: 11px;
    font-size: 12px;
    color: #979899;
    position: relative; }
    /* line 810, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .breadcrumbs li:after {
      background: url(../img/arrow_slide_gr.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      position: absolute;
      right: 0%;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      content: '';
      position: absolute; }
    /* line 823, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .breadcrumbs li:last-child:after {
      display: none; }
  /* line 826, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .breadcrumbs .active {
    color: #0096ff; }

/* line 828, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.col_filter {
  width: 282px; }
  /* line 830, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_filter .filter_head {
    margin-bottom: 23px;
    height: 32px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    /* line 838, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .filter_head h2 {
      font-size: 32px;
      color: #282d3a;
      font-weight: normal; }
  /* line 842, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_filter .filter_body {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 22px 24px;
    padding-bottom: 10px; }
    /* line 847, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .filter_body .head {
      font-size: 12px;
      color: #282d3a;
      letter-spacing: 0.3px;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: bold; }
  /* line 854, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_filter .list {
    width: 100%;
    padding-top: 23px;
    padding-bottom: 25px;
    border-bottom: 1px solid #edeef0;
    width: 100%;
    padding-bottom: 5px; }
    /* line 860, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
    /* line 863, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list:nth-child(2) {
      padding-bottom: 8px; }
    /* line 867, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list:nth-child(3) {
      padding-top: 27px; }
    /* line 870, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list:first-child {
      padding-top: 0;
      height: 121px; }
    /* line 873, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list .filter {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap; }
    /* line 881, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list li {
      width: 50%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;
      color: #282d3a;
      font-size: 12px; }
      /* line 892, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .col_filter .list li:nth-child(2n) {
        padding-left: 7px; }
    /* line 894, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list input[type=checkbox] {
      display: none; }
    /* line 896, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list input ~ label {
      cursor: pointer;
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }
    /* line 904, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list input ~ label > span {
      height: 12px;
      width: 12px;
      text-align: center;
      vertical-align: bottom;
      border: 0.1em solid #282d3a;
      border-radius: 2px;
      position: relative;
      margin-right: 10px;
      top: 1px; }
    /* line 916, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list li.active span {
      background: #282d3a; }
      /* line 918, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .col_filter .list li.active span:before {
        background: url(../img/galochka.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 8px;
        height: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '';
        position: absolute; }
    /* line 930, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list .price-slider {
      margin-bottom: 15px;
      font-size: 16px; }
    /* line 934, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list .price-slider-input {
      width: 60px;
      height: 34px;
      font-size: 12px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 4px;
      border: solid 1px #e3e4e5;
      padding: 0 10px; }
    /* line 944, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .list .filter-price {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      height: 60px; }
      /* line 952, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .col_filter .list .filter-price p {
        color: #85898c;
        font-size: 12px;
        margin-right: 10px;
        margin-left: 10px; }
        /* line 957, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .col_filter .list .filter-price p:first-child {
          margin-left: 0; }

/* line 959, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.col_cards {
  width: 894px;
  max-width: 100%; }
  /* line 962, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_cards .cards_head {
    height: 32px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    margin-bottom: 23px; }
    /* line 971, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_cards .cards_head h3 {
      color: #85898c;
      font-size: 12px;
      margin-right: 10px; }
    /* line 975, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_cards .cards_head ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center; }
      /* line 982, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .col_cards .cards_head ul li {
        font-size: 12px;
        color: #282d3a;
        padding-right: 10px;
        margin-right: 5px;
        position: relative; }
        /* line 988, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .col_cards .cards_head ul li:after {
          font-size: 12px;
          position: absolute;
          right: 0%;
          top: 50%;
          transform: translateY(-50%);
          content: '/';
          position: absolute; }
        /* line 997, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .col_cards .cards_head ul li:last-child:after {
          display: none; }
      /* line 1000, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .col_cards .cards_head ul li.active {
        color: #0096ff; }
  /* line 1003, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_cards .cards_body {
    position: relative; }
  /* line 1005, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_cards .card {
    border-radius: 4px;
    box-shadow: 4.9px 4.9px 6px 0 rgba(40, 45, 58, 0.04);
    background-color: #ffffff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 12px;
    transition: all .2s ease; }
    /* line 1018, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_cards .card:hover {
      transition: all .2s ease;
      box-shadow: 4.9px 4.9px 6px 0 rgba(40, 45, 58, 0.12); }
      /* line 1022, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .col_cards .card:hover .card_info-col1 .price {
        color: #ff005e;
        transition: all .2s ease; }

/* line 1026, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.card_imgs {
  width: 220px;
  max-width: 100%;
  position: relative;
  border-radius: 4px 0 0 4px; }
  /* line 1031, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_imgs .img {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
    border-radius: 4px 0 0 4px; }

/* line 1038, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.card_info {
  width: calc(100% - 220px);
  padding: 21px 24px 23px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between; }

/* line 1047, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.card_info-col1 {
  width: 30%;
  position: relative; }
  /* line 1050, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_info-col1 h3 {
    font-size: 14px;
    color: #282d3a;
    margin-bottom: 10px; }
  /* line 1054, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_info-col1 .available {
    display: none;
    padding-left: 19px;
    color: #282d3a;
    font-size: 12px;
    position: relative; }
  /* line 1060, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_info-col1 .available.active {
    position: relative;
    display: block;
    margin-bottom: 15px; }
    /* line 1064, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col1 .available.active:before {
      background: url(../img/v_nalichii.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 14px;
      height: 14px;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      position: absolute; }
  /* line 1075, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_info-col1 .card_info-more {
    margin-bottom: 12px; }
    /* line 1077, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col1 .card_info-more p {
      font-size: 12px;
      color: #85898c;
      margin-bottom: 7px; }
    /* line 1081, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col1 .card_info-more span {
      color: #282d3a;
      letter-spacing: .35px;
      font-weight: bold; }
  /* line 1085, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_info-col1 .price {
    font-size: 24px;
    color: #282d3a;
    margin-bottom: 26px;
    font-weight: 400;
    letter-spacing: 1px; }
  /* line 1091, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_info-col1 .btn {
    transition: all .2s linear; }
    /* line 1093, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col1 .btn:hover {
      box-shadow: 0 0 10px 0 rgba(0, 126, 217, 0.5);
      background-color: #0096ff;
      color: #fff;
      transition: all .2s linear; }

/* line 1098, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.card_info-col2 {
  width: 57.5%; }
  /* line 1101, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .card_info-col2 .card_desc-more {
    margin-bottom: 13px; }
    /* line 1103, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col2 .card_desc-more p {
      font-size: 12px;
      margin-bottom: 0px;
      color: #8b8c8c;
      line-height: 1.5;
      max-height: 104px;
      overflow: hidden;
      position: relative; }
    /* line 1111, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col2 .card_desc-more .show-p {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
      /* line 1118, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .card_info-col2 .card_desc-more .show-p:after {
        position: absolute;
        content: '';
        bottom: 0;
        height: 60px;
        left: 0;
        background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.84) 57%, rgba(255, 255, 255, 0.2) 100%);
        width: 100%; }
      /* line 1126, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .card_info-col2 .card_desc-more .show-p span {
        width: 100%; }
    /* line 1128, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col2 .card_desc-more span {
      color: #0b0f17; }
    /* line 1130, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .card_info-col2 .card_desc-more a {
      color: #0096ff;
      width: 100%;
      font-size: 12px;
      border-bottom: 1px dotted #0096ff; }

/* line 1135, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.new, .hot, .price_old {
  display: none; }

/* line 1137, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.new.active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  width: 67px;
  height: 18px;
  border-radius: 4px;
  background-color: #282d3a; }

/* line 1155, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.hot.active {
  position: absolute;
  background: url(../img/fire_label.svg);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  display: block;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px; }

/* line 1165, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.price_old.active {
  color: #85898c;
  font-size: 12px;
  position: absolute;
  bottom: 47px;
  left: 0;
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: #85898c; }
  /* line 1174, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .price_old.active:after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 1px solid #85898c;
    width: 100%;
    content: ''; }

/* line 1182, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.screen-reader-text {
  display: none; }

/* line 1184, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.show_more {
  border-radius: 4px;
  position: absolute;
  bottom: -6.2%;
  right: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 19px;
  width: 203px;
  height: 39px;
  border: solid 1px #0096ff;
  font-size: 12px;
  color: #0096ff; }
  /* line 1202, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .show_more:before {
    background: url(../img/show_more.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    position: absolute; }

/* line 1213, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.pagination {
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  bottom: -6.2%;
  width: 256px; }
  /* line 1219, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .pagination .nav-links {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  /* line 1227, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .pagination .page-numbers {
    font-size: 14px;
    width: 7px;
    color: #0096ff; }
  /* line 1231, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .pagination .current, .pagination .dots {
    color: #282d3a; }
  /* line 1233, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .pagination .prev, .pagination .next {
    width: 39px;
    height: 39px;
    opacity: 0.3;
    border-radius: 4px;
    background: #e3e4e5;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .2s ease; }
    /* line 1248, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .pagination .prev:after, .pagination .next:after {
      background: url(../img/arrow_slide.svg) !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 14px;
      width: 10px;
      transition: all .2s ease; }
    /* line 1260, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .pagination .prev:hover, .pagination .next:hover {
      background: #fff;
      opacity: 1;
      transition: all .2s ease; }
  /* line 1265, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .pagination .next:after {
    transform: translate(-50%, -50%) rotate(180deg); }

/* line 1268, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.col_filter .docs {
  width: 272px; }
  /* line 1273, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_filter .docs li {
    border: solid 1px #e3e4e5;
    height: 39px;
    width: 100%;
    color: #282d3a;
    font-size: 12px;
    padding: 0 19px; }
    /* line 1281, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .docs li a {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center; }
    /* line 1290, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .col_filter .docs li:last-child {
      border-top: none; }
  /* line 1292, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .col_filter .docs li.active {
    color: #0096ff; }

/* line 1294, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.section-confidential {
  padding-bottom: 80px; }
  /* line 1297, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .section-confidential .col_cards h2 {
    font-size: 32px;
    color: #282d3a;
    text-align: justify; }
  /* line 1301, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .section-confidential .col_cards p, .section-confidential .col_cards li {
    font-size: 14px;
    color: #282d3a;
    line-height: 21px;
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: justify; }

/* line 1308, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.md {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none; }
  /* line 1317, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md_back {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; }
  /* line 1329, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md .close {
    width: 15px;
    height: 15px;
    padding: 20px;
    background-image: url(../img/cross.svg);
    background-size: 15px !important;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: absolute;
    right: 0;
    top: 0; }
  /* line 1341, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md .md_cont {
    width: 588px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #fff;
    max-width: 85%;
    margin-top: 77px;
    border-radius: 6px;
    position: relative;
    box-shadow: 4.9px 4.9px 6px 0 rgba(40, 45, 58, 0.04); }
    /* line 1361, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md .md_cont h2 {
      font-size: 24px;
      color: #282d3a;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      font-weight: 400; }
    /* line 1369, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md .md_cont p {
      font-size: 12px;
      color: #85898c;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 0px; }
    /* line 1377, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md .md_cont form {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      padding-top: 34px;
      position: relative;
      padding-bottom: 0px;
      z-index: 5;
      width: 100%;
      border-top: 1px solid #edeef0; }
      /* line 1389, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .md .md_cont form label {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 100%;
        margin-bottom: 12px; }
        /* line 1398, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .md .md_cont form label input {
          padding: 12px 15px; }
        /* line 1401, /Applications/MAMP/htdocs/pontofon/css/style.sass */
        .md .md_cont form label span {
          font-size: 16px;
          color: #817577; }

/* line 1408, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.md .card_info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10px; }
  /* line 1418, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md .card_info .card_imgs {
    width: 115px;
    height: 50px;
    overfow: hidden; }
    /* line 1423, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md .card_info .card_imgs img {
      object-fit: cover;
      position: relative;
      top: -15px;
      width: 115px;
      height: 180px; }
  /* line 1429, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md .card_info .card_info-col1 {
    width: calc(100% - 115px);
    padding-left: 37px;
    padding-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
  /* line 1439, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md .card_info .card_info-more {
    margin-bottom: 10px; }
    /* line 1441, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md .card_info .card_info-more p {
      text-align: left;
      font-size: 12px;
      color: #85898c;
      margin-bottom: 2px; }

/* line 1446, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.md form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column; }
  /* line 1453, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md form input {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    height: 39px;
    width: 390px;
    color: #282d3a;
    border: 1px solid #e3e4e5;
    border-radius: 2px; }
  /* line 1462, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md form input::placeholder {
    color: #85898c;
    font-size: 14px; }
  /* line 1465, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md form input[type="submit"] {
    margin-top: 22px;
    margin-bottom: 18px;
    -webkit-appearance: none;
    width: 160px;
    height: 39px;
    border-radius: 6px;
    border: solid 2px #0096ff;
    font-size: 11px;
    font-weight: bold;
    padding: 12px 11px;
    color: #0096ff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }
  /* line 1488, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md form .agree {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    width: 355px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    /* line 1501, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md form .agree label {
      font-size: 12px;
      color: #85898c;
      line-height: 1.5; }
      /* line 1505, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .md form .agree label a {
        color: #0096ff; }
    /* line 1507, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md form .agree input[type=checkbox] {
      display: none; }
    /* line 1509, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md form .agree input ~ label {
      cursor: pointer;
      width: 100%;
      display: inline-block; }
    /* line 1513, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md form .agree input ~ label > span {
      height: 12px;
      width: 12px;
      text-align: center;
      vertical-align: bottom;
      border: 1px solid #282d3a;
      border-radius: 2px;
      position: relative;
      margin-right: 6px;
      top: -3px;
      display: inline-block; }
  /* line 1526, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md form .agree.active span {
    background: #282d3a; }
    /* line 1528, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md form .agree.active span:before {
      background: url(../img/galochka.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 8px;
      height: 8px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '';
      position: absolute; }

/* line 1541, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.md2 .md_cont {
  width: 588px;
  padding: 43px 70px;
  border-radius: 4px;
  box-shadow: 4.9px 4.9px 6px 0 rgba(40, 45, 58, 0.04);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; }
  /* line 1554, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md2 .md_cont h2 {
    font-weight: normal;
    margin-bottom: 15px; }
  /* line 1557, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md2 .md_cont img {
    height: 70px;
    width: 70px;
    margin-bottom: 31px; }
  /* line 1561, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md2 .md_cont .text_info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 31px; }
    /* line 1568, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md2 .md_cont .text_info p {
      font-size: 12px;
      color: #85898c;
      margin-bottom: 0; }
    /* line 1572, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md2 .md_cont .text_info .strong {
      color: #282d3a; }
    /* line 1574, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md2 .md_cont .text_info span {
      color: #ff005e; }

/* line 1577, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.md3 .md_cont {
  width: 588px;
  padding: 30px 90px;
  border-radius: 4px;
  box-shadow: 4.9px 4.9px 6px 0 rgba(40, 45, 58, 0.04);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; }
  /* line 1590, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md3 .md_cont p {
    margin-bottom: 0; }
  /* line 1592, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md3 .md_cont form {
    align-items: center;
    justify-content: center;
    border-top: none;
    padding-bottom: 0; }
    /* line 1597, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md3 .md_cont form p {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center; }
    /* line 1605, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .md3 .md_cont form .btn {
      margin-top: 12px; }

/* line 1608, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.md4 .md_cont {
  padding: 40px 70px; }
  /* line 1610, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md4 .md_cont img {
    margin-bottom: 26px; }
  /* line 1612, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .md4 .md_cont .btn-back {
    margin-top: 13px; }

/* line 1614, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.error-page {
  padding-top: 190px;
  padding-bottom: 260px;
  background-color: #f0f2f5; }
  /* line 1618, /Applications/MAMP/htdocs/pontofon/css/style.sass */
  .error-page .wr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    /* line 1627, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .error-page .wr .page-name {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      margin-bottom: 17px; }
      /* line 1635, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .error-page .wr .page-name h1 {
        font-size: 80px;
        color: #282d3a;
        font-weight: bold; }
      /* line 1639, /Applications/MAMP/htdocs/pontofon/css/style.sass */
      .error-page .wr .page-name img {
        height: 82px;
        width: 82px; }
    /* line 1642, /Applications/MAMP/htdocs/pontofon/css/style.sass */
    .error-page .wr p {
      width: 494px;
      max-width: 100%;
      font-size: 14px;
      text-align: center;
      color: #282d3a;
      margin-bottom: 31px; }

/* line 1649, /Applications/MAMP/htdocs/pontofon/css/style.sass */
.none {
  display: none; }

/*# sourceMappingURL=style.css.map */